<%- include('inc/header.ejs') %>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>About me</h1>
            <p>Hi,</p>
            <p>My name is Bilal Kaya and I am a freelance front-end web developer.</p>
            <p>I developed this website for demo perpose only.</p>
            <p>My name is Bilal Kaya and I am a freelance front-end web developer.</p>
            <p>If you have any questions please feel free to send email: bbilalkaya@gmail.com</p>
        </div>
    </div>

</div>