<%- include('inc/header.ejs') %>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>About me</h1>
            <p>Hi,</p>
            <p>My name is Bilal Kaya and I am a freelance front-end web developer.</p>
            <p>I developed this website for demo perpose only.</p>
            <p>This web site is builted using Node.js and MongoDB. As front-end technologies I used HTML5, CSS3, ES6+,
                JQuery, AJAX and Bootstrap.</p>
            <p>Express, Express-Session, EJS, Mongoose, Passport, Multer and a few other libraries are used. MVC
                architecture and RESTful URL Designs are followed. </p>
            <p>You can see application codes on my <a href="#">GitHub</a>page.</p>
            <p>If you have any questions please feel free to send email: bbilalkaya@gmail.com</p>
        </div>
    </div>

</div>