<%- include('inc/header.ejs') %>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>About me</h2>
            <p>Hello,</p>
            <p>My name is Bilal Kaya and I am a freelance front-end web developer.</p>
            <p>If you have any questions please feel free to send email: kayabbilal@gmail.com</p>
        </div>
    </div>

</div>
<%- include('inc/footer.ejs') %>