<%- include('inc/header.ejs') %>
<div class="container my-5">
    <div class="row justify-content-center align-items-center ">
        <div class="col-md-6 my-2">
            <h2 class="text-center">Login</h2>

            <div class="shadow border">
                <form action="/login" method="POST">
                    <div class="form-group p-2">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group p-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Password">
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Submit</button>
                    <small class="form-text text-danger p-2">For demo you can use admin:admin credentials.</small>
                </form>
                <a href="/register" class="d-block mx-2 mb-3">Register</a>
            </div>
        </div>
    </div>
</div>
<%- include('inc/footer.ejs') %>